@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    color: #2E2E2E;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 72px); */
}


.btn {
    display: flex;
    gap: 40px;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.loginBtn,
.shopbtn {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    /* display: inline-flex; */
    padding: 6px 16px;
    /* align-items: flex-start; */
    gap: 10px;
    background: #D01C28;
}



.catagorybtn {
    color: grey;
    background: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    /* display: inline-flex; */
    padding: 6px 16px;
    /* align-items: flex-start; */
}




.sec-1 h1 {
    display: flex;
    color: #000;
    font-family: Poppins;
    font-size: 108px;
    font-style: normal;
    font-weight: 800 !important;
    line-height: 102px;
    justify-content: center;
    max-width: 595px;
}

.sec-1 p {
    color: #5A5959;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 404px;
}

.logos {
    display: flex;
    gap: 16px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: lightblue;
}
